@import url('header.css');
@import url('footer.css');

.testimonials {
    height: 88.8vh;
    padding: 15rem 10%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/img/cover.jpg);
    background-position: center;
    background-size: cover;

    .testi-desc {
        text-align: center;

        h3 {
            font-size: var(--h2);
            color: var(--white);
            font-style: italic;
            font-weight: 500;
            padding: 1rem 1rem;
        }

        p {
            padding: 0 1rem;
            color: var(--white);
            font-size: var(--p);
            font-weight: 800;
            margin-bottom: 1rem;
        }
    }

    .swiper {
        width: 100%;
        height: 100%;

        .swiper-wrapper {
            justify-content: space-between;
            text-align: center;

            .swiper-slide {
                padding: 1rem 1rem;
                justify-content: center;
                align-items: center;
                overflow: hidden;
            }
        }
    }
}

@media (max-width: 800px) and (min-width: 501px) {
    .testimonials {
        padding: 10rem 10%;
    }
}

@media (max-width: 500px) {
    .testimonials {
        padding: 7rem 5%;
    }
}

.about {
    padding: 15rem 10%;
    background-color: var(--black);

    .about-desc {
        text-align: center;

        h1 {
            text-transform: uppercase;
            font-size: var(--h1);
            font-weight: 800;
            color: var(--gold);
        }

        p {
            font-size: var(--p);
            margin-top: 1rem;
            color: var(--white);
        }
    }
}