@import "header.css";
@import "footer.css";
.contact .contact-title {
  padding: 2rem 1rem;
  text-align: -webkit-center;
}
.contact .contact-title h1 {
  color: var(--gold);
  font-size: var(--h1);
  font-weight: 800;
  text-transform: uppercase;
}
.contact .contact-title p {
  font-size: var(--p);
}
.contact .contact-side {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 5%;
}
.contact .contact-side .contact-form {
  width: 55%;
}
.contact .contact-side .contact-form h1 {
  color: var(--gold);
  font-weight: 800;
  font-size: var(h1);
  text-transform: uppercase;
}
.contact .contact-side .form-group {
  margin-top: 1rem;
}
.contact .contact-side textarea {
  margin-bottom: 1rem;
}
.contact .btn {
  padding: 12px 34px;
  border-radius: 5px;
  background-color: var(--gold);
  color: var(--black);
  font-size: var(--p);
  text-decoration: none;
  transition: 0.5s ease;
}
.contact .btn:hover {
  background-color: var(--black);
  color: var(--white);
}
.contact .contact-info {
  line-height: 2.5rem;
  margin-left: 2rem;
}
.contact .contact-info h1 {
  font-size: var(--h1);
  color: var(--gold);
  font-weight: 800;
  text-transform: uppercase;
}
.contact .contact-info a {
  color: var(--black);
  font-size: var(--p);
  text-decoration: none;
  font-weight: 600;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .contact .contact-side {
    padding: 1rem 1rem;
  }
  .contact .contact-side .contact-form {
    width: 95%;
  }
  .contact .contact-side .contact-form form {
    width: 95%;
  }
}
@media (max-width: 768px) and (min-width: 501px) {
  .contact .contact-info {
    margin-left: 1.5rem;
  }
  .contact .contact-side {
    padding: 1rem 1rem;
  }
  .contact .contact-side .contact-form {
    width: 95%;
  }
}
@media (max-width: 500px) {
  .contact .contact-side {
    display: block;
  }
  .contact .contact-side .contact-form {
    width: 100%;
    margin-bottom: 3rem;
  }
}
.maps iframe {
  width: 100%;
  height: 50vh;
}