@import "header.css";
@import "footer.css";

.cover {
    padding: 5rem 5%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/img/cities.jpg);
    background-position: center;
    background-size: cover;

    .cover-desc {
        text-align: center;

        h1 {
            color: var(--white);
            font-size: var(--h1);
            font-weight: 800;
        }

        p {
            font-size: var(--p);
            color: var(--white);
            margin-bottom: 1.5rem;
        }

        a {
            padding: 12px 34px;
            border-radius: 5px;
            background-color: var(--gold);
            color: var(--black);
            font-size: var(--a);
            text-decoration: none;
            transition: 0.5s ease;
        }

        a:hover {
            background-color: var(--black);
            color: var(--white);
        }
    }
}

@media (max-width: 600px) {
    .cover {
        height: 30vh;
        padding: 1.5rem 0;
    }
}

.fleet {
    padding: 2rem 5%;

    .fleet-details {

        p {
            font-size: var(--p);
        }
    }

    .fleet-services {

        .row {

            .column {
                display: contents;
                align-items: center;

                .card {
                    width: 25rem;
                    height: fit-content;
                    padding: 1rem 1rem;
                    margin: 1rem 1rem;
                    text-align: center;

                    img {
                        width: 20rem;
                        align-self: center;
                    }

                    h2 {
                        text-align: center;
                        font-size: var(--h2);
                        font-weight: 800;
                        text-transform: uppercase;
                    }

                    p {
                        font-size: var(--p);
                    }

                    a {
                        padding: 12px 34px;
                        border-radius: 5px;
                        background-color: var(--gold);
                        color: var(--black);
                        font-size: var(--a);
                        text-align: center;
                        margin: 1rem 0;
                        text-decoration: none;
                        transition: 0.5s ease;
                    }
            
                    a:hover {
                        background-color: var(--black);
                        color: var(--white);
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .fleet {

        .fleet-services {

            .row {
                justify-content: center;

                .column {
                    display: contents;

                    .card {
                        width: 20rem;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}