@import "header.css";
@import "footer.css";
.cover {
  padding: 5rem 5%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/img/cities.jpg);
  background-position: center;
  background-size: cover;
}
.cover .cover-desc {
  text-align: center;
}
.cover .cover-desc h1 {
  color: var(--white);
  font-size: var(--h1);
  font-weight: 800;
}
.cover .cover-desc p {
  font-size: var(--p);
  color: var(--white);
  margin-bottom: 1.5rem;
}
.cover .cover-desc a {
  padding: 12px 34px;
  border-radius: 5px;
  background-color: var(--gold);
  color: var(--black);
  font-size: var(--a);
  text-decoration: none;
  transition: 0.5s ease;
}
.cover .cover-desc a:hover {
  background-color: var(--black);
  color: var(--white);
}

@media (max-width: 600px) {
  .cover {
    height: 30vh;
    padding: 1.5rem 0;
  }
}
.fleet {
  padding: 2rem 5%;
}
.fleet .fleet-details p {
  font-size: var(--p);
}
.fleet .fleet-services .row .column {
  display: contents;
  align-items: center;
}
.fleet .fleet-services .row .column .card {
  width: 25rem;
  height: fit-content;
  padding: 1rem 1rem;
  margin: 1rem 1rem;
  text-align: center;
}
.fleet .fleet-services .row .column .card img {
  width: 20rem;
  align-self: center;
}
.fleet .fleet-services .row .column .card h2 {
  text-align: center;
  font-size: var(--h2);
  font-weight: 800;
  text-transform: uppercase;
}
.fleet .fleet-services .row .column .card p {
  font-size: var(--p);
}
.fleet .fleet-services .row .column .card a {
  padding: 12px 34px;
  border-radius: 5px;
  background-color: var(--gold);
  color: var(--black);
  font-size: var(--a);
  text-align: center;
  margin: 1rem 0;
  text-decoration: none;
  transition: 0.5s ease;
}
.fleet .fleet-services .row .column .card a:hover {
  background-color: var(--black);
  color: var(--white);
}

@media (max-width: 800px) {
  .fleet .fleet-services .row {
    justify-content: center;
  }
  .fleet .fleet-services .row .column {
    display: contents;
  }
  .fleet .fleet-services .row .column .card {
    width: 20rem;
  }
  .fleet .fleet-services .row .column .card img {
    width: 100%;
  }
}