.footer {

    .footer-desc {

        .footer-about {
            height: 270px;
            padding: 2rem 3rem;
            display: flex;
            justify-content: space-around;
    
            span {
                color: var(--white);
                width: 25%;
                font-size: var(--p);
            }
        }
    
        .footer-links {
    
            h4 {
                color: var(--white);
                font-weight: 800;
                font-size: var(--h2);
                text-transform: uppercase;
            }
    
            hr {
                width: 3rem;
            }
    
            a {
                text-decoration: none;
                color: var(--white);
                display: block;
                font-size: var(--p);
                line-height: 2.5rem;
                transition: 0.5s ease;
            }

            a:hover {
                font-weight: 700;
            }
        }

        .footer-contact {

            h4 {
                color: var(--white);
                font-weight: 800;
                font-size: var(--h2);
                text-transform: uppercase;
            }
    
            hr {
                width: 3rem;
            }
    
            p {
                text-decoration: none;
                color: var(--white);
                display: block;
                font-size: var(--p);
                cursor: pointer;
                transition: 0.5s ease;
            }

            p:hover {
                font-weight: 600;
            }

            i {
                color: var(--white);
            }
        }

        .foot {
            display: flex;
            justify-content: space-around;
            padding: 1rem 1rem;

            p {
                color: var(--white);
                font-size: var(--p);
            }

            a {
                color: var(--white);
                font-weight: 800;
                font-size: var(--a);
                text-decoration: none;
            }

            .social {

                a {
                    margin: 0 1rem;
                    font-size: var(--a);
                    color: var(--white);
                    transition: 0.5s ease;
                }

                a:hover {
                    font-weight: 700;
                }
            }
        }
    }
}

@media (max-width: 768px) and (min-width: 501px) {
    .footer {

        .footer-desc {
    
            .footer-about {
                height: 100%;
            }

            .footer-links {
                margin-left: 2rem;

            }

            .footer-contact {
                margin-left: 2rem;
            }
        }
    }
}

@media (max-width: 500px) {
    .footer {

        .footer-desc {
    
            .footer-about {
                display: block;
                height: 100%;
                padding: 2rem 5%;
            }

            .footer-links {
                margin: 2rem 0;
            }

            .footer-contact {
                margin: 2rem 0;
            }

            .foot {
                display: block;
                text-align: center;
            }
        }
    }
}