* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black);
}

:root {
    --black: #000000;
    --white: #FFFFFF;
    --red: #FF3333;
    --brown: #996633;
    --gold: #FFCC66;
    --lightgray: #F6F6F6;
    --gray: #778591;
    --darkgray: #616161;

    --h1: clamp(2.125rem, 1.6596rem + 1.4894vw, 3rem);
    --h2: clamp(1.125rem, 1.0585rem + 0.2128vw, 1.25rem);
    --h3: clamp(2.125rem, 0.8617rem + 4.0426vw, 4.5rem);
    --p: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
    --a: clamp(0.75rem, 0.617rem + 0.4255vw, 1rem);
}

::-webkit-scrollbar {
    height: .5rem;
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--gold);
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}


nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
    width: 100%;
    height: 75px;
    z-index: 1000;
    line-height: 73px;
    background: var(--black);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .navbar-brand {
        
        img {
            width: 5rem;
        }
    }

    .navbar-toggler {

        i {
            display: none;
            color: var(--white);
        }
    }

    .nav-list {
        display: flex;
        margin: 0;

        .nav-item {
            list-style: none;

            a {
                cursor: pointer;
                height: 100%;
                color: var(--white);
                text-transform: uppercase;
                padding: 0 20px;
                font-weight: 500;
                transition: .4s;

                &.active,
                &:hover {
                    color: var(--gold);
                }
            }
        }
    }
}

input {
    display: none;
}

@media (max-width: 991px) and (min-width: 850px) {
    input:checked ~ nav .nav-list {
        transform: translateY(0);
        transition: .1s;
    }

    nav {
        padding: 0 2rem;

        .nav-list {
            z-index: -1000;
        }
    }
}

@media (max-width: 849px) {
    input:checked ~ nav .nav-list {
        transform: translateY(20.5%);
        transition: .1s;
        background: var(--black);
        padding: 0;
    }

    nav {

        .nav-list {
            display: grid;
            position: absolute;
            background: var(--blue);
            width: 100%;
            top: 0;
            left: 0;
            transform: translateY(-100%);
            z-index: -1000;
            transition: .1s;

            .nav-item {
                padding-left: 35px;

                a {
                    color: var(--white);

                    &.active {
                        color: var(--gold);
                    }
                }
            }
        }

        .navbar-toggler {
            display: grid;
            height: min-content;
            cursor: pointer;

            i {
                display: block;
                margin: .2rem 0;
            }
        }
    }
}