@import "header.css";
@import "footer.css";
.reserve .reserve-title {
  padding: 5rem 8%;
  text-align: center;
}
.reserve .reserve-title h1 {
  font-size: var(--h1);
  text-transform: uppercase;
  font-weight: 800;
  color: var(--gold);
}
.reserve .reserve-desc {
  padding: 0 8%;
}
.reserve .reserve-desc .row .column {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reserve .reserve-desc .row .column .card {
  width: 30rem;
  height: 23rem;
  background-color: transparent;
  border: 0;
  margin: 2rem 1rem;
  padding: 1rem 1rem;
  text-align: center;
}
.reserve .reserve-desc .row .column .card h1 {
  font-size: var(--h2);
  text-transform: uppercase;
  font-weight: 700;
}
.reserve .reserve-desc .row .column .card p {
  font-size: var(--p);
}
.reserve .reserve-desc .row .column .card a {
  font-size: var(--a);
  background-color: var(--gold);
  color: var(--white);
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 34px;
  transition: 0.5s ease;
}
.reserve .reserve-desc .row .column .card a:hover {
  background-color: var(--black);
  color: var(--white);
}
.reserve .reserve-payment {
  padding: 3rem 10%;
}
.reserve .reserve-payment form h1 {
  font-size: var(--h1);
  font-weight: 800;
  text-transform: uppercase;
}
.reserve .reserve-payment button {
  background-color: var(--gold);
  margin-top: 2rem;
  padding: 12px 34px;
  font-size: var(--a);
  transition: 0.5s ease;
}
.reserve .reserve-payment button:hover {
  color: var(--white);
  background-color: var(--black);
}

@media (max-width: 500px) {
  .reserve .reserve-desc {
    padding: 1rem 0;
  }
  .reserve .reserve-payment {
    padding: 1rem 0;
  }
}