@import "header.css";
@import "footer.css";

.reserve {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/img/cover.jpg);
    background-size: cover;

    .reserve-title {
        padding: 5rem 8%;
        text-align: center;

        h1 {
            font-size: var(--h1);
            text-transform: uppercase;
            font-weight: 800;
            color: var(--gold);
        }
    }
    
    .reserve-desc {
        padding: 0 8%;

        .row {

            .column {
                display: flex;
                align-items: center;
                justify-content: center;

                .card {
                    width: 30rem;
                    height: 23rem;
                    background-color: transparent;
                    border: 0;
                    margin: 2rem 1rem;
                    padding: 1rem 1rem;
                    text-align: center;

                    h1 {
                        font-size: var(--h2);
                        color: var(--gold);
                        text-transform: uppercase;
                        font-weight: 700;
                    }

                    p {
                        font-size: var(--p);
                        color: var(--white);
                    }

                    a {
                        font-size: var(--a);
                        background-color: var(--gold);
                        color: var(--black);
                        border-radius: 10px;
                        text-transform: uppercase;
                        text-decoration: none;
                        padding: 12px 34px;
                        transition: .5s ease;
                    }

                    a:hover {
                        background-color: var(--black);
                        color: var(--white);
                    }
                }
            }
        }
    }

    .reserve-payment {
        padding: 3rem 10%;

        form {

            h1 {
                font-size: var(--h1);
                color: var(--gold);
                font-weight: 800;
                text-transform: uppercase;
            }
        }

        button {
            background-color: var(--gold);
            margin-top: 2rem;
            padding: 12px 34px;
            font-size: var(--a);
            transition: .5s ease;
        }

        button:hover {
            color: var(--white);
            background-color: var(--black);
        }
    }
}

@media (max-width: 500px) {
    .reserve {

        .reserve-desc {
            padding: 1rem 0;
        }

        .reserve-payment {
            padding: 1rem 0;
        }
    }
}