@import "header.css";
@import "footer.css";

.services {
    padding: 10rem 5%;

    .services-title {

        h1 {
            text-align: center;
            font-size: var(--h1);
            font-weight: 800;
            text-transform: uppercase;
            color: var(--gold);
        }
    }

    .services-card {

        .row {
            display: flex;
            justify-content: center;
            align-items: center;

            .column {
                display: contents;
                align-items: center;

                .card {
                    width: 25rem;
                    height: 35rem;
                    padding: 1rem 1rem;
                    margin: 1rem 1rem;
                    text-align: center;

                    img {
                        width: 20rem;
                        height: fit-content;
                        align-self: center;
                    }

                    h2 {
                        text-align: center;
                        margin: 2rem 0;
                        font-size: 16px;
                        font-weight: 800;
                    }

                    p {
                        font-size: 14px;
                    }

                    a {
                        padding: 12px 34px;
                        border-radius: 5px;
                        background-color: var(--gold);
                        color: var(--black);
                        font-size: var(--a);
                        text-align: center;
                        margin: 1rem 0;
                        text-decoration: none;
                        transition: 0.5s ease;
                    }
            
                    a:hover {
                        background-color: var(--black);
                        color: var(--white);
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .fleet {

        .fleet-services {

            .row {
                justify-content: center;

                .column {
                    display: contents;

                    .card {
                        width: 20rem;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}