* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #121212;
  --white: #FFFFFF;
  --red: #FF3333;
  --brown: #996633;
  --gold: #FFCC66;
  --lightgray: #F6F6F6;
  --gray: #778591;
  --darkgray: #616161;
  --h1: clamp(2.25rem, 1.3125rem + 3vw, 3rem);
  --h2: clamp(0.875rem, -0.8438rem + 5.5vw, 2.25rem);
  --p: clamp(0.875rem, 0.0938rem + 2.5vw, 1.5rem);
  --a: clamp(0.875rem, 0.5625rem + 1vw, 1.125rem);
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gold);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

.upper-head {
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--lightgray);
}
.upper-head .upper-details i,
.upper-head .upper-details p {
  display: inline-flex;
  padding: 1rem 1rem;
  text-align: center;
  font-size: var(--a);
  color: gray;
  margin: 0;
  align-items: center;
}
.upper-head .social-media a {
  padding: 0 1rem;
  font-size: var(--a);
  text-decoration: none;
  color: var(--gray);
}
.upper-head .social-media a:hover {
  color: var(--darkgray);
}

@media (max-width: 800px) {
  .upper-head {
    padding: 0.5rem 0.5rem;
    display: block;
    text-align: center;
  }
  .upper-head .upper-details p {
    padding: 0.1rem 0.1rem;
  }
}
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 2000;
}
.header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 5%;
}
.header .flex img {
  height: 5rem;
}
.header .navbar a {
  margin-left: 2rem;
  font-size: var(--a);
  color: var(--black);
  text-decoration: none;
  transition: 0.5s ease;
}
.header .navbar a:hover {
  color: var(--gold);
}
.header #menu-btn {
  display: none;
  font-size: var(--a);
  color: var(--black);
  cursor: pointer;
}

@media (max-width: 768px) and (min-width: 501px) {
  .header .flex img {
    height: 5rem;
  }
  .header .navbar {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.5s ease;
  }
  .header .navbar a {
    display: block;
    padding: 1rem 1rem;
  }
  .header .navbar.active {
    top: 100%;
    display: block;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header #menu-btn.fa-times {
    transform: rotate(180deg);
  }
}
@media (max-width: 500px) {
  .header .flex img {
    height: 5rem;
  }
  .header .navbar {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.5s ease;
  }
  .header .navbar a {
    display: block;
    padding: 1rem 1rem;
  }
  .header .navbar.active {
    top: 100%;
    display: block;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header #menu-btn.fa-times {
    transform: rotate(180deg);
  }
}
.services {
  padding: 3rem 5%;
}
.services .services-title h1 {
  text-align: center;
  font-size: var(--h1);
  font-weight: 800;
  color: var(--gold);
}
.services .services-title p {
  font-size: var(--p);
  text-align: center;
}
.services .services-card .row {
  justify-content: center;
}
.services .services-card .row .column {
  display: contents;
  align-items: center;
}
.services .services-card .row .column .card {
  width: 25rem;
  padding: 1rem 1rem;
  margin: 1rem 1rem;
}
.services .services-card .row .column .card img {
  width: 20rem;
  align-self: center;
}
.services .services-card .row .column .card h5 {
  text-align: center;
  font-size: var(--p);
  font-weight: 700;
  margin: 1rem 0;
}
.services .services-card .row .column .card p {
  font-size: var(--a);
}
.services .services-card .row .column .card a {
  padding: 12px 34px;
  border-radius: 5px;
  background-color: var(--gold);
  color: var(--black);
  font-size: var(--a);
  text-align: center;
  margin: 1rem 0;
  text-decoration: none;
  transition: 0.5s ease;
}
.services .services-card .row .column .card a:hover {
  background-color: var(--black);
  color: var(--white);
}

@media (max-width: 800px) {
  .fleet .fleet-services .row {
    justify-content: center;
  }
  .fleet .fleet-services .row .column {
    display: contents;
  }
  .fleet .fleet-services .row .column .card {
    width: 20rem;
  }
  .fleet .fleet-services .row .column .card img {
    width: 100%;
  }
}
.footer .footer-desc .footer-about {
  height: 270px;
  padding: 2rem 3rem;
  background-color: var(--lightgray);
  display: flex;
  justify-content: space-around;
}
.footer .footer-desc .footer-about span {
  color: var(--darkgray);
  width: 25%;
  font-size: var(--a);
}
.footer .footer-desc .footer-links h4 {
  color: var(--darkgray);
  font-weight: 800;
  font-size: var(--h2);
  text-transform: uppercase;
}
.footer .footer-desc .footer-links hr {
  width: 3rem;
}
.footer .footer-desc .footer-links a {
  text-decoration: none;
  color: var(--darkgray);
  display: block;
  font-size: var(--a);
  line-height: 2.5rem;
  transition: 0.5s ease;
}
.footer .footer-desc .footer-links a:hover {
  font-weight: 700;
}
.footer .footer-desc .footer-contact h4 {
  color: var(--darkgray);
  font-weight: 800;
  font-size: var(--h2);
  text-transform: uppercase;
}
.footer .footer-desc .footer-contact hr {
  width: 3rem;
}
.footer .footer-desc .footer-contact p {
  text-decoration: none;
  color: var(--darkgray);
  display: block;
  font-size: var(--a);
  line-height: 2.5rem;
  cursor: pointer;
  transition: 0.5s ease;
}
.footer .footer-desc .footer-contact p:hover {
  font-weight: 700;
}
.footer .footer-desc .footer-contact i {
  color: var(--white);
}
.footer .footer-desc .foot {
  display: flex;
  justify-content: space-around;
  background-color: var(--lightgray);
  padding: 1rem 1rem;
}
.footer .footer-desc .foot p {
  color: var(--darkgray);
  font-size: var(--a);
}
.footer .footer-desc .foot a {
  color: var(--darkgray);
  font-weight: 800;
  font-size: var(--a);
  text-decoration: none;
}
.footer .footer-desc .foot .social a {
  margin: 0 1rem;
  font-size: var(--a);
  color: var(--darkgray);
  transition: 0.5s ease;
}
.footer .footer-desc .foot .social a:hover {
  font-weight: 700;
}

@media (max-width: 768px) and (min-width: 501px) {
  .footer .footer-desc .footer-about {
    height: 100%;
  }
  .footer .footer-desc .footer-links {
    margin-left: 2rem;
  }
  .footer .footer-desc .footer-contact {
    margin-left: 2rem;
  }
}
@media (max-width: 500px) {
  .footer .footer-desc .footer-about {
    display: block;
    height: 100%;
    padding: 2rem 5%;
  }
  .footer .footer-desc .footer-links {
    margin: 2rem 0;
  }
  .footer .footer-desc .footer-contact {
    margin: 2rem 0;
  }
  .footer .footer-desc .foot {
    display: block;
    text-align: center;
  }
}