@import "header.css";
@import "footer.css";
.logos {
  text-align: center;
}
.logos img {
  width: 25rem;
}

@media (max-width: 800px) {
  .logos img {
    width: 100%;
  }
}
.slider_container {
  height: 100vh;
  padding: 0 10%;
}
.slider_container .container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.481);
  padding: 1rem 0;
}
.slider_container .container h3 {
  font-size: var(--h2);
  color: var(--white);
  font-style: italic;
  font-weight: 500;
  padding: 1rem 1rem;
}
.slider_container .container p {
  padding: 0 1rem;
  color: var(--white);
  font-size: var(--p);
  font-weight: 800;
  margin-bottom: 1rem;
}
.slider_container .swiper {
  width: 100%;
  height: 100%;
}
.slider_container .swiper .swiper-wrapper {
  justify-content: space-between;
  text-align: center;
}
.slider_container .swiper .swiper-wrapper .swiper-slide {
  display: grid;
  place-items: center;
  height: 100vh;
  overflow: hidden;
}
.slider_container .swiper .swiper-wrapper .swiper-slide h3 {
  font-size: var(--h2);
  background-color: rgba(0, 0, 0, 0.481);
}
.slider_container .swiper .swiper-wrapper .swiper-slide a {
  background-color: var(--gold);
  padding: 12px 34px;
  border-radius: 10px;
  text-decoration: none;
  color: var(--black);
  transition: 0.5 ease;
}
.slider_container .swiper .swiper-wrapper .swiper-slide a:hover {
  background-color: var(--black);
  color: var(--white);
}

.details {
  padding: 5rem 10%;
}
.details .details-desc {
  text-align: center;
}
.details .details-desc p {
  font-size: var(--p);
  font-style: italic;
  color: var(--white);
}
.details .details-desc h3 {
  font-size: var(--h2);
  color: var(--white);
}
.details .details-desc h1 {
  font-size: var(--h1);
  font-weight: 800;
  color: var(--gold);
}

.contact {
  padding: 2rem 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact .contact-form {
  width: 100%;
}
.contact .contact-form h1 {
  font-size: var(--h1);
  color: var(--gold);
  font-weight: 800;
}
.contact .contact-form h2 {
  font-size: var(--h2);
  color: var(--white);
}
.contact .contact-form label {
  color: var(--white);
  margin-top: 2rem;
}
.contact .contact-form .form-label {
  margin: 1rem 0;
  font-size: var(--p);
  font-weight: 500;
}
.contact .contact-form textarea {
  margin-bottom: 1.5rem;
}
.contact .contact-form .btn {
  font-size: var(--a);
  background-color: var(--gold);
  padding: 12px 34px;
  border-radius: 10px;
  text-decoration: none;
  color: var(--black);
  transition: 0.5s ease;
}
.contact .contact-form .btn:hover {
  background-color: var(--black);
  color: var(--white);
}

@media (max-width: 800px) {
  .contact {
    display: block;
  }
  .contact .contact-desc p {
    margin: 0;
    margin-bottom: 3rem;
    text-align: center;
  }
  .contact .contact-form {
    width: 100%;
  }
}
.experience {
  padding: 10rem 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/img/cover.jpg);
  background-size: cover;
}
.experience .expe-desc {
  text-align: center;
  margin: 0 2rem;
  order: 1;
}
.experience .expe-desc h1 {
  color: var(--gold);
  font-size: var(--h1);
  font-weight: 800;
  text-align: center;
  margin: 1rem 0;
}
.experience .expe-desc p {
  font-size: var(--p);
  margin-bottom: 3rem;
  color: var(--white);
  text-align: center;
}
.experience .expe-img img {
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media (max-width: 800px) {
  .experience {
    display: block;
    height: 100%;
    padding: 1rem 5%;
    text-align: center;
  }
  .experience .expe-desc {
    margin: 0;
  }
  .experience .expe-desc h1 {
    text-align: center;
  }
  .experience .expe-desc p {
    text-align: center;
  }
  .experience .expe-img img {
    width: 100%;
  }
}
.services {
  padding: 10rem 8%;
}
.services .services-title {
  text-align: center;
}
.services .services-title h1 {
  font-size: var(--h1);
  font-weight: 800;
  color: var(--gold);
  margin-bottom: 2rem;
}
.services .services-card {
  padding: 0 5%;
  text-align: center;
}
.services .services-card .row .column {
  display: flex;
  justify-content: center;
}
.services .services-card .row .column .card {
  background: var(--black);
  width: 35rem;
  padding: 1rem 1rem;
  margin: 0 1rem;
  text-align: center;
}
.services .services-card .row .column .card img {
  width: 100%;
  height: 100%;
}
.services .services-card .row .column .card p {
  font-size: 12px;
  color: var(--white);
  margin: 1rem 0;
  font-weight: 700;
}
.services .services-card .row .column .card a {
  font-size: var(--a);
  background-color: var(--gold);
  padding: 12px 34px;
  border-radius: 10px;
  text-decoration: none;
  color: var(--black);
  transition: 0.5s ease;
}
.services .services-card .row .column .card a:hover {
  background-color: var(--black);
  color: var(--white);
}
.services .services-card .row .btnLearn {
  margin: 2rem 0;
}
.services .services-card .row .btnLearn a {
  font-size: var(--a);
  background-color: var(--gold);
  padding: 12px 34px;
  border-radius: 10px;
  text-decoration: none;
  color: var(--black);
  transition: 0.5s ease;
}
.services .services-card .row .btnLearn a:hover {
  background-color: var(--black);
  color: var(--white);
}

@media (max-width: 800px) {
  .services {
    height: 100%;
    padding: 0;
  }
  .services .services-card .row {
    justify-content: center;
    align-items: center;
  }
  .services .services-card .row .column {
    display: contents;
  }
  .services .services-card .row .column .card {
    margin: 1rem 1rem;
  }
}