* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #121212;
  --white: #FFFFFF;
  --red: #FF3333;
  --brown: #996633;
  --gold: #FFCC66;
  --lightgray: #F6F6F6;
  --gray: #778591;
  --darkgray: #616161;
  --h1: clamp(2.125rem, 1.6596rem + 1.4894vw, 3rem);
  --h2: clamp(1.125rem, 1.0585rem + 0.2128vw, 1.25rem);
  --h3: clamp(2.125rem, 0.8617rem + 4.0426vw, 4.5rem);
  --p: clamp(1rem, 1rem + 0vw, 1rem);
  --a: clamp(0.75rem, 0.617rem + 0.4255vw, 1rem);
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gold);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

.upper-head {
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--lightgray);
}
.upper-head .upper-details i,
.upper-head .upper-details p {
  display: inline-flex;
  padding: 1rem 1rem;
  text-align: center;
  font-size: var(--p);
  color: gray;
  margin: 0;
  align-items: center;
}
.upper-head .social-media a {
  padding: 0 1rem;
  font-size: var(--a);
  text-decoration: none;
  color: var(--gray);
}
.upper-head .social-media a:hover {
  color: var(--darkgray);
}

@media (max-width: 800px) {
  .upper-head {
    padding: 0.5rem 0.5rem;
    display: block;
    text-align: center;
  }
  .upper-head .upper-details p {
    padding: 0.1rem 0.1rem;
  }
}
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 2000;
}
.header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 5%;
}
.header .flex img {
  height: 5rem;
}
.header .navbar a {
  margin-left: 2rem;
  font-size: var(--a);
  color: var(--black);
  text-decoration: none;
  transition: 0.5s ease;
}
.header .navbar a:hover {
  color: var(--gold);
}
.header #menu-btn {
  display: none;
  font-size: var(--a);
  color: var(--black);
  cursor: pointer;
}

@media (max-width: 768px) and (min-width: 501px) {
  .header .flex img {
    height: 5rem;
  }
  .header .navbar {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.5s ease;
  }
  .header .navbar a {
    display: block;
    padding: 1rem 1rem;
  }
  .header .navbar.active {
    top: 100%;
    display: block;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header #menu-btn.fa-times {
    transform: rotate(180deg);
  }
}
@media (max-width: 500px) {
  .header .flex img {
    height: 5rem;
  }
  .header .navbar {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.5s ease;
  }
  .header .navbar a {
    display: block;
    padding: 1rem 1rem;
  }
  .header .navbar.active {
    top: 100%;
    display: block;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header #menu-btn.fa-times {
    transform: rotate(180deg);
  }
}
.cover {
  height: 100vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/img/cities.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}
.cover .cover-desc {
  text-align: center;
}
.cover .cover-desc h1 {
  font-size: var(--h1);
  margin-bottom: 1rem;
  font-weight: 800;
  color: var(--white);
}
.cover .cover-desc p {
  font-size: var(--p);
  margin-bottom: 2rem;
  color: var(--white);
}
.cover .cover-desc a {
  font-size: var(--a);
  background-color: var(--gold);
  padding: 12px 34px;
  border-radius: 10px;
  text-decoration: none;
  color: var(--black);
  transition: 0.5s ease;
}
.cover .cover-desc a:hover {
  background-color: var(--black);
  color: var(--white);
}

@media (max-width: 800px) {
  .cover {
    display: block;
    height: 100%;
    text-align: center;
    padding: 10rem 5%;
  }
  .cover .cover-desc p {
    margin-bottom: 2rem;
  }
}
.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5%;
}
.contact .contact-desc p {
  font-size: var(--p);
  margin: 0 1rem;
}
.contact .contact-form {
  width: 100%;
}
.contact .contact-form h1 {
  font-size: var(--h1);
  font-weight: 800;
}
.contact .contact-form .form-label {
  margin: 1rem 0;
  font-size: var(--p);
  font-weight: 500;
}
.contact .contact-form textarea {
  margin-bottom: 1.5rem;
}
.contact .contact-form .btn {
  font-size: var(--a);
  background-color: var(--gold);
  padding: 12px 34px;
  border-radius: 10px;
  text-decoration: none;
  color: var(--black);
  transition: 0.5s ease;
}
.contact .contact-form .btn:hover {
  background-color: var(--black);
  color: var(--white);
}

@media (max-width: 800px) {
  .contact {
    display: block;
  }
  .contact .contact-desc p {
    margin: 0;
    margin-bottom: 3rem;
    text-align: center;
  }
  .contact .contact-form {
    width: 100%;
  }
}
.experience {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--lightgray);
  padding: 0 5%;
}
.experience .expe-desc {
  text-align: center;
  margin: 0 2rem;
  order: 1;
}
.experience .expe-desc h1 {
  color: var(--gold);
  font-size: var(--h1);
  font-weight: 800;
  text-align: center;
  margin: 1rem 0;
}
.experience .expe-desc p {
  font-size: var(--p);
  margin-bottom: 3rem;
  text-align: center;
}
.experience .expe-img img {
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media (max-width: 800px) {
  .experience {
    display: block;
    height: 100%;
    padding: 1rem 5%;
    text-align: center;
  }
  .experience .expe-desc {
    margin: 0;
  }
  .experience .expe-desc h1 {
    text-align: center;
  }
  .experience .expe-desc p {
    text-align: center;
  }
  .experience .expe-img img {
    width: 100%;
  }
}
.testimonials {
  height: 80vh;
  align-items: center;
  justify-content: space-between;
}
.testimonials .testi-title {
  text-align: center;
  margin-bottom: 3rem;
}
.testimonials .testi-title h1 {
  font-size: var(--h1);
  font-weight: 800;
  color: var(--gold);
}
.testimonials .testi-card .row .column {
  display: flex;
  justify-content: center;
}
.testimonials .testi-card .row .column .card {
  width: 25rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  text-align: center;
  margin: 0 1rem;
  padding: 2rem 2rem;
}
.testimonials .testi-card .row .column .card p {
  font-size: var(--p);
  margin-bottom: 2rem;
  font-style: italic;
}
.testimonials .testi-card .row .column .card span {
  font-size: var(--a);
  font-weight: 700;
}

@media (max-width: 800px) and (min-width: 501px) {
  .testimonials {
    padding: 2rem 5%;
    height: 100%;
  }
  .testimonials .testi-title h1 {
    margin-bottom: 2rem;
  }
  .testimonials .testi-card .row .column .card {
    width: 25rem;
  }
}
@media (max-width: 500px) {
  .testimonials {
    padding: 2rem 5%;
    height: 100%;
  }
  .testimonials .testi-title h1 {
    margin-bottom: 1rem;
  }
  .testimonials .testi-card .row .column {
    display: block;
    padding: 0;
  }
  .testimonials .testi-card .row .column .card {
    padding: 1rem 1rem;
    margin: 1rem 0.5rem;
    width: 95%;
  }
}
.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--lightgray);
  padding: 3rem 5%;
}
.about .about-desc {
  text-align: center;
  margin: 0 2rem;
  order: 1;
}
.about .about-desc h1 {
  font-size: var(--h1);
  font-weight: 800;
  color: var(--gold);
  margin: 1rem 0;
}
.about .about-desc p {
  font-size: var(--p);
}
.about .about-img img {
  width: 35rem;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media (max-width: 800px) {
  .about {
    display: block;
    padding: 2rem 5%;
  }
  .about .about-desc {
    margin: 0;
  }
  .about .about-desc h1 {
    margin: 1rem 0;
  }
  .about .about-desc p {
    margin: 1rem 0;
  }
  .about .about-img img {
    width: 100%;
  }
}
.services {
  padding: 3rem 5%;
}
.services .services-title {
  text-align: center;
}
.services .services-title h1 {
  font-size: var(--h1);
  font-weight: 800;
  color: var(--gold);
  margin-bottom: 2rem;
}
.services .services-card {
  padding: 0 5%;
  text-align: center;
}
.services .services-card .row .column {
  display: flex;
  justify-content: center;
}
.services .services-card .row .column .card {
  width: 35rem;
  padding: 1rem 1rem;
  margin: 0 1rem;
  text-align: center;
}
.services .services-card .row .column .card img {
  width: 100%;
}
.services .services-card .row .column .card p {
  font-size: var(--p);
  margin: 1rem 0;
  font-weight: 700;
}
.services .services-card .row .column .card a {
  font-size: var(--a);
  background-color: var(--gold);
  padding: 12px 34px;
  border-radius: 10px;
  text-decoration: none;
  color: var(--black);
  transition: 0.5s ease;
}
.services .services-card .row .column .card a:hover {
  background-color: var(--black);
  color: var(--white);
}
.services .services-card .row .btnLearn {
  margin: 2rem 0;
}
.services .services-card .row .btnLearn a {
  font-size: var(--a);
  background-color: var(--gold);
  padding: 12px 34px;
  border-radius: 10px;
  text-decoration: none;
  color: var(--black);
  transition: 0.5s ease;
}
.services .services-card .row .btnLearn a:hover {
  background-color: var(--black);
  color: var(--white);
}

@media (max-width: 800px) {
  .services {
    height: 100%;
    padding: 0;
  }
  .services .services-card .row {
    justify-content: center;
    align-items: center;
  }
  .services .services-card .row .column {
    display: contents;
  }
  .services .services-card .row .column .card {
    margin: 1rem 1rem;
  }
}
.footer .footer-desc .footer-about {
  height: 270px;
  padding: 2rem 3rem;
  background-color: var(--lightgray);
  display: flex;
  justify-content: space-around;
}
.footer .footer-desc .footer-about span {
  color: var(--darkgray);
  width: 25%;
  font-size: var(--p);
}
.footer .footer-desc .footer-links h4 {
  color: var(--darkgray);
  font-weight: 800;
  font-size: var(--h2);
  text-transform: uppercase;
}
.footer .footer-desc .footer-links hr {
  width: 3rem;
}
.footer .footer-desc .footer-links a {
  text-decoration: none;
  color: var(--darkgray);
  display: block;
  font-size: var(--p);
  line-height: 2.5rem;
  transition: 0.5s ease;
}
.footer .footer-desc .footer-links a:hover {
  font-weight: 700;
}
.footer .footer-desc .footer-contact h4 {
  color: var(--darkgray);
  font-weight: 800;
  font-size: var(--h2);
  text-transform: uppercase;
}
.footer .footer-desc .footer-contact hr {
  width: 3rem;
}
.footer .footer-desc .footer-contact p {
  text-decoration: none;
  color: var(--darkgray);
  display: block;
  font-size: var(--p);
  cursor: pointer;
  transition: 0.5s ease;
}
.footer .footer-desc .footer-contact p:hover {
  font-weight: 700;
}
.footer .footer-desc .footer-contact i {
  color: var(--white);
}
.footer .footer-desc .foot {
  display: flex;
  justify-content: space-around;
  background-color: var(--lightgray);
  padding: 1rem 1rem;
}
.footer .footer-desc .foot p {
  color: var(--darkgray);
  font-size: var(--p);
}
.footer .footer-desc .foot a {
  color: var(--darkgray);
  font-weight: 800;
  font-size: var(--a);
  text-decoration: none;
}
.footer .footer-desc .foot .social a {
  margin: 0 1rem;
  font-size: var(--a);
  color: var(--darkgray);
  transition: 0.5s ease;
}
.footer .footer-desc .foot .social a:hover {
  font-weight: 700;
}

@media (max-width: 768px) and (min-width: 501px) {
  .footer .footer-desc .footer-about {
    height: 100%;
  }
  .footer .footer-desc .footer-links {
    margin-left: 2rem;
  }
  .footer .footer-desc .footer-contact {
    margin-left: 2rem;
  }
}
@media (max-width: 500px) {
  .footer .footer-desc .footer-about {
    display: block;
    height: 100%;
    padding: 2rem 5%;
  }
  .footer .footer-desc .footer-links {
    margin: 2rem 0;
  }
  .footer .footer-desc .footer-contact {
    margin: 2rem 0;
  }
  .footer .footer-desc .foot {
    display: block;
    text-align: center;
  }
}