@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --black: #121212;
    --white: #FFFFFF;
    --gold: #F8CE4D;
    --lightgray: #F6F6F6;
    --gray: #778591;
    --darkgray: #616161;

    --h1: clamp(1.5rem, -0.375rem + 6vw, 3rem);
    --h2: clamp(1.5rem, 0.5625rem + 3vw, 2.25rem);
    --p: clamp(0.75rem, 0.5938rem + 0.5vw, 0.875rem);
    --a: clamp(0.75rem, 0.5938rem + 0.5vw, 0.875rem);
}

::-webkit-scrollbar {
    height: .5rem;
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--gold);
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

section {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.upper-head {
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--lightgray);

    .upper-details {

        i,
        p {
            display: inline-flex;
            padding: 1rem 1rem;
            text-align: center;
            font-size: var(--p);
            color: gray;
            margin: 0;
            align-items: center;
        }
    }

    .social-media {

        a {
            padding: 0 1rem;
            font-size: var(--a);
            text-decoration: none;
            color: var(--gray);
        }

        a:hover {
            color: var(--darkgray);
        }
    }
}

@media (max-width: 800px) {
    .upper-head {
        padding: .5rem .5rem;
        display: block;
        text-align: center;

        .upper-details {

            p {
                padding: .1rem .1rem;
            }
        }
    }
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 2000;

    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 0 5%;

        img {
            height: 5rem;
        }
    }

    .navbar {

        a {
            margin-left: 2rem;
            font-size: var(--a);
            color: var(--black);
            text-decoration: none;
            transition: 0.5s ease;
        }

        a:hover {
            color: var(--gold);
        }
    }

    #menu-btn {
        display: none;
        font-size: var(--p);
        color: var(--black);
        cursor: pointer;
    }
}

@media (max-width: 800px) {
    .header {

        .flex {

            img {
                height: 5rem;
            }
        }

        .navbar {
            position: absolute;
            display: none;
            top: 100%;
            left: 0;
            right: 0;
            background-color: var(--white);
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            transition: 0.5s ease;

            a {
                display: block;
                margin: 2rem 2rem;
            }
        }

        .navbar.active {
            top: 100%;
            display: block;
        }

        #menu-btn {
            display: inline-block;
        }

        #menu-btn.fa-times {
            transform: rotate(180deg);
        }
    }
}

.cover {
    height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/img/cities.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;

    .cover-desc {

        h1 {
            font-size: var(--h1);
            margin-bottom: 1rem;
            font-weight: 800;
            color: var(--white);
        }

        p {
            font-size: var(--p);
            margin-bottom: 2rem;
            color: var(--white);
        }

        a {
            font-size: var(--a);
            background-color: var(--gold);
            padding: 12px 34px;
            border-radius: 10px;
            text-decoration: none;
            color: var(--black);
            transition: 0.5s ease;
        }

        a:hover {
            background-color: var(--black);
            color: var(--white);
        }
    }

    .cover-img {

        img {
            border-radius: 10px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
    }
}

@media (max-width: 800px) {
    .cover {
        display: block;
        height: 100%;
        text-align: center;
        padding: 1rem 5%;

        .cover-desc {
            margin-bottom: 3rem;

            p {
                margin-bottom: 2rem;
            }
        }

        .cover-img {

            img {
                width: 100%;
            }
        }
    }
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;

    .contact-desc {

        p {
            font-size: var(--p);
            margin: 0 1rem;
        }
    }
    
    .contact-form {
        width: 150%;

        h1 {
            font-size: var(--h1);
            font-weight: 800;
        }

        .form-label {
            margin: 1rem 0;
            font-size: var(--a);
        }

        textarea {
            margin-bottom: 1.5rem;
        }

        .btn {
            font-size: var(--a);
            background-color: var(--gold);
            padding: 12px 34px;
            border-radius: 10px;
            text-decoration: none;
            color: var(--black);
            transition: 0.5s ease;
        }

        .btn:hover {
            background-color: var(--black);
            color: var(--white);
        }
    }
}


@media (max-width: 800px) {
    .contact {
        display: block;

        .contact-desc {

            p {
                margin: 0;
                margin-bottom: 3rem;
                text-align: center;
            }
        }

        .contact-form {
            width: 100%;
        }
    }
}

.experience {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;

    .expe-desc {
        text-align: center;
        margin: 0 2rem;
        order: 1;

        h1 {
            color: var(--gold);
            font-size: var(--h1);
            font-weight: 800;
            text-align: center;
            margin: 1rem 0;
        }

        p {
            font-size: var(--a);
            margin-bottom: 3rem;
            text-align: center;
        }
    }

    .expe-img {

        img {
            border-radius: 10px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
    }
}

@media (max-width: 800px) {
    .experience {
        display: block;
        height: 100%;
        padding: 1rem 5%;
        text-align: center;
        
        .expe-desc {
            margin: 0;

            h1 {
                text-align: center;
            }

            p {
                text-align: center;
            }
        }

        .expe-img {
            
            img {
                width: 100%;
            }
        }
    }
}

.testimonials {
    height: 70vh;
    align-items: center;
    justify-content: space-between;

    .testi-title {
        text-align: center;
        margin-bottom: 3rem;

        h1 {
            font-size: var(--h1);
            font-weight: 800;
            color: var(--gold);
        }
    }

    .testi-card {

        .row {

            .column {
                display: flex;
                justify-content: center;

                .card {
                    width: 25rem;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                    text-align: center;
                    margin: 0 1rem;
                    padding: 2rem 2rem;

                    p {
                        font-size: var(--p);
                        margin-bottom: 2rem;
                    }

                    span {
                        font-size: var(--p);
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) and (min-width: 501px) {
    .testimonials {
        padding: 2rem 5%;
        height: 100%;

        .testi-title {

            h1 {
                margin-bottom: 2rem;
            }
        }

        .testi-card {

            .row {

                .column {

                    .card {
                        width: 25rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .testimonials {
        padding: 2rem 5%;
        height: 100%;

        .testi-title {

            h1 {
                margin-bottom: 1rem;
            }
        }

        .testi-card {

            .row {

                .column {
                    display: block;
                    padding: 0;

                    .card {
                        padding: 1rem 1rem;
                        margin: 1rem .5rem;
                        width: 95%;
                    }
                }
            }
        }
    }
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 5%;

    .about-desc {
        text-align: center;
        margin: 0 2rem;
        order: 1;

        h1 {
            font-size: var(--h1);
            font-weight: 800;
            color: var(--gold);
            margin: 1rem 0;
        }

        p {
            font-size: var(--a);
        }
    }

    .about-img {

        img {
            width: 35rem;
            border-radius: 10px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
    }
}

@media (max-width: 800px) {
    .about {
        display: block;
        padding: 2rem 5%;

        .about-desc {
            margin: 0;

            h1 {
                margin: 1rem 0;
            }

            p {
                margin: 1rem 0;
            }
        }

        .about-img {

            img {
                width: 100%;
            }
        }
    }
}

.footer {

    .footer-desc {

        .footer-about {
            height: 270px;
            padding: 2rem 3rem;
            background-color: var(--lightgray);
            display: flex;
            justify-content: space-around;
    
            span {
                color: var(--darkgray);
                width: 25%;
                font-size: var(--p);
            }
        }
    
        .footer-links {
    
            h4 {
                color: var(--darkgray);
                font-weight: 800;
                font-size: var(--h2);
                text-transform: uppercase;
            }
    
            hr {
                width: 3rem;
            }
    
            a {
                text-decoration: none;
                color: var(--darkgray);
                display: block;
                font-size: var(--a);
                line-height: 2.5rem;
                transition: 0.5s ease;
            }

            a:hover {
                font-weight: 700;
            }
        }

        .footer-contact {

            h4 {
                color: var(--darkgray);
                font-weight: 800;
                font-size: var(--h2);
                text-transform: uppercase;
            }
    
            hr {
                width: 3rem;
            }
    
            p {
                text-decoration: none;
                color: var(--darkgray);
                display: block;
                font-size: var(--p);
                line-height: 2.5rem;
                cursor: pointer;
                transition: 0.5s ease;
            }

            p:hover {
                font-weight: 700;
            }

            i {
                color: var(--white);
            }
        }

        .foot {
            display: flex;
            justify-content: space-around;
            background-color: var(--lightgray);
            padding: 1rem 1rem;

            p {
                color: var(--darkgray);
                font-size: var(--p);
            }

            a {
                color: var(--darkgray);
                font-weight: 800;
                font-size: var(--a);
                text-decoration: none;
            }

            .social {

                a {
                    margin: 0 1rem;
                    font-size: var(--a);
                    color: var(--darkgray);
                    transition: 0.5s ease;
                }

                a:hover {
                    font-weight: 700;
                }
            }
        }
    }
}

@media (max-width: 768px) and (min-width: 501px) {
    .footer {

        .footer-desc {
    
            .footer-about {
                height: 100%;
            }

            .footer-links {
                margin-left: 2rem;

            }

            .footer-contact {
                margin-left: 2rem;
            }
        }
    }
}

@media (max-width: 500px) {
    .footer {

        .footer-desc {
    
            .footer-about {
                display: block;
                height: 100%;
                padding: 2rem 5%;
            }

            .footer-links {
                margin: 2rem 0;
            }

            .footer-contact {
                margin: 2rem 0;
            }

            .foot {
                display: block;
                text-align: center;
            }
        }
    }
}